*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    vertical-align: bottom;
}

button {
    cursor: pointer;
    padding: 0;
}

:disabled {
    cursor: not-allowed;
}

ul {
    list-style: none;
    padding: 0;
}

@font-face {
    font-family: pr;
    src: url('fonts/proxima-nova-regular.woff2');
    font-display: swap;
}

@font-face {
    font-family: pb;
    src: url('fonts/proxima-nova-bold.woff2');
    font-display: swap;
}

@font-face {
    font-family: pt;
    src: url('fonts/proxima-nova-thin.woff2');
    font-display: swap;
}


h1,
h2,
h3,
h4,
th,
b,
strong {
    font-family: pb, sans-serif;
}

body {
    font-family: pt, sans-serif;
}

.reg {
    font-family: pr, sans-serif;
}

h2 {
    font-size: 72px;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wrap-1 h1 {
    font-size: 25px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
}


[class^="col-"] {
    padding: 0 15px;
    flex: 1 0 auto;
}

.col-1 {
    flex-basis: 8.33%;
    max-width: 8.33%
}

.col-2 {
    flex-basis: 16.66%;
    max-width: 16.66%
}

.col-3 {
    flex-basis: 25%;
    max-width: 25%
}

.col-4 {
    flex-basis: 33.33%;
    max-width: 33.33%
}

.col-5 {
    flex-basis: 41.66%;
    max-width: 41.66%
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%
}

.col-7 {
    flex-basis: 58.33%;
    max-width: 58.33%
}

.col-8 {
    flex-basis: 66.66%;
    max-width: 66.66%
}

.col-9 {
    flex-basis: 75%;
    max-width: 75%
}

.col-10 {
    flex-basis: 83.33%;
    max-width: 83.33%
}

.col-11 {
    flex-basis: 91.66%;
    max-width: 91.66%
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%
}


.wrap-1 {
    background: url('/Img/wrap-1.jpg') no-repeat center center/cover;
}

.wrap-2 {
    background-color: #51bad7;
}

.wrap-3 {
    background-color: #51bad7;
}

.wrap-4 {
    background-color: #51bad7;
}

.wrap-1 nav {
    margin-left: 30px;
    margin-top: 50px;
}

.wrap-1 nav ul {
    display: flex;
}

.wrap-1 nav ul li {
    margin: 0 5px;
}

.wrap-1 nav ul li a {
    display: block;
    color: inherit;
    line-height: 80px;
    padding: 0 15px;
    font-size: 15px;
    font-weight: bold;
}

.wrap-1 h1 {
    margin-top: 70px;
    font-size: 35px;
}

.p1 {
    font-size: 40px;
    margin-top: 70px;
}

.p2 {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 50px;
}

.p4 {
    text-align: justify;
    margin-top: 50px;
}

.p3 {
    font-size: 25px;
    padding-top: 20px;
}

.wrap-3 h3 {
    padding: 5px 0px 10px 0px;
}

.wrap-3 p {
    padding: 5px 0px 10px 0px;
    text-align: justify;
}

.ut {
    padding: 20px 0px 10px 0px;
}


.cont {
    margin-top: 200px;
}

.btnz {
    font-size: 30px;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 80px;
    border: 1px solid;
    border-color: black black transparent black;
    background-color: transparent;

}

.bg1 {
    text-align: center;
    margin-left: -500px;
}

.col-4 img {
    margin-top: 50px;
}

.para1 {
    text-align: center;
    margin-top: 20px;
}

.foodi {
    text-align: center;
    margin-top: 50px;
}

.foodi p {
    margin-top: 20px;
}

.foodi h3 {
    margin-top: 20px;
}

.btns button {
    border: 3px solid;
    border-color: transparent;
    background-color: yellow;
    border-color: yellow yellow green yellow;
    padding: 10px 30px;
    margin-top: 20px;
}

#just {
    text-align: center;
    margin-top: 50px;
}

.input {
    padding: 10px 60px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
}

.book {
    text-align: center;
}

.col-6 button {
    background-color: yellow;
    border-radius: 5px;
}

.wrap-5 {
    background: url('/Img/footor.jpg') no-repeat center center/cover;
    color: white;
}

.loco {
    display: flex;
    color: yellow;
    padding: 10px;
}

#loco {
    margin-top: 60px;
}

.loco button {
    font-size: 25px;
    color: yellow;
    border-color: transparent;
    background: transparent;
}

.loco p {
    color: #fff;
    font-size: 15px;
    margin-left: 30px;

}

.loco address {
    color: #fff;
    font-size: 15px;
    margin-left: 30px;
}

#para {
    margin: 60px 0px 270px 0px;
}

.foot button {
    background-color: #fff;
    border-color: transparent;
    color: black;
    font-size: 15px;
}

#footer h3 {
    margin: 10px 0px 0px 13px;
}

.top {
    background: transparent;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px;
}

@media screen and (max-width:1220px) {
    h2 {
        font-size: 62px;
    }

    .cont {
        margin-top: 73px;
    }

}

@media screen and (max-width:980px) {

    h1 {
        font-size: 20px;
    }

    .p1 {
        font-size: 30px;
        margin-top: 40px;
    }

    .p2 {
        font-size: 25px;
        margin-top: 40px;
    }

    .wrap-4 img {
        width: 100%;
    }

    .h2 {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ig img {
        width: 200px;
        height: 200px;
    }

    .flex {
        display: flex;
        flex-flow: row;
    }

    .p4 {
        text-align: justify;
        margin-top: 50px;
    }



    .row .col-t-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .row .col-t-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .row .col-t-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .row .col-t-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .row .col-t-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .row .col-t-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row .col-t-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .row .col-t-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .row .col-t-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .row .col-t-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .row .col-t-11 {
        flex-basis: 91.66%;
        max-width: 91.66%;
    }

    .row .col-t-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

}

@media screen and (max-width:767px) {

    .wrap-1 nav {
        margin-left: -150px;
    }

    .wrap-1 h1 {
        margin-top: 25px;
    }


    header nav ul {
        display: block;
    }

    header nav ul li a {
        line-height: 50px;
    }

    .input {
        width: 90%;
    }

    .row .col-m-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .row .col-m-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .row .col-m-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .row .col-m-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .row .col-m-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .row .col-m-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row .col-m-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .row .col-m-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .row .col-m-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .row .col-m-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .row .col-m-11 {
        flex-basis: 91.66%;
        max-width: 91.66%;
    }

    .row .col-m-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width:460px) {

    .wrap-1 nav ul {
        margin-left: 20px;
    }

    .wrap-1 img {
        width: 100%;
    }

    .wrap-1 nav ul li a {
        padding: 0 5px;
        font-size: 16px;
    }

    .conts {
        margin-top: 0px;
    }

    .p2 {
        font-size: 20px;
    }

    .flex {
        display: flex;
        flex-flow: column;
    }

    .p1 {
        margin-top: 0px;
        font-size: 20px;
    }

    .top {
        background: transparent;
        border-radius: 5px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        padding: 10px;
    }

    .wrap-1 h1 {
        font-size: 25px;
        margin-top: 33px;
    }

    .h2 {
        font-size: 35px;
        padding: 0%;
    }

    .loco p {
        margin-left: 10px;
    }


    .row .col-p-1 {
        flex-basis: 8.33%;
        max-width: 8.33%;
    }

    .row .col-p-2 {
        flex-basis: 16.66%;
        max-width: 16.66%;
    }

    .row .col-p-3 {
        flex-basis: 25%;
        max-width: 25%;
    }

    .row .col-p-4 {
        flex-basis: 33.33%;
        max-width: 33.33%;
    }

    .row .col-p-5 {
        flex-basis: 41.66%;
        max-width: 41.66%;
    }

    .row .col-p-6 {
        flex-basis: 50%;
        max-width: 50%;
    }

    .row .col-p-7 {
        flex-basis: 58.33%;
        max-width: 58.33%;
    }

    .row .col-p-8 {
        flex-basis: 66.66%;
        max-width: 66.66%;
    }

    .row .col-p-9 {
        flex-basis: 75%;
        max-width: 75%;
    }

    .row .col-p-10 {
        flex-basis: 83.33%;
        max-width: 83.33%;
    }

    .row .col-p-11 {
        flex-basis: 91.66%;
        max-width: 91.66%;
    }

    .row .col-p-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

}